.contact-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: #f3f6f8; /* Light blue background color */
  color: #000; /* Black text color for all elements */
}

.contact-text {
  flex: 1;
  max-width: 50%;
  color: #000; /* Black color for message text */
}

.contact-form {
  background-color: #f6f4f4; /* White background color for the form */
  padding: 15px;
  border: 1px solid #090909; /* Light gray border around the form */
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  color: #000; /* Black text color for form */
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  color: #000; /* Black color for form labels */
}

.contact-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white; /* White background for input fields */
  color: #000; /* Black text color for input text */
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF; /* Blue button */
  color: #fff; /* White button text for contrast */
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
