/* src/Footer.css */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
  }
  
  .about-us {
    flex: 2;
    padding-right: 20px;
  }
  
  .about-us h2 {
    margin-bottom: 10px;
  }
  
  .footer-links {
    flex: 1;
  }
  
  .footer-links h2 {
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-contact {
    margin-top: 20px;
  }
  
  .footer-contact h2 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  .emailref{
    color: #fff;
  }
  